# Can't be commited since github has a 100mb limit per file ... wget -O docker_context/go1.20.1.linux-amd64.tar.gz https://golang.org/dl/go1.20.1.linux-amd64.tar.gz
docker_context/go*.linux-amd64.tar.gz